[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"

[variables]
NODE_OPTIONS = "--max_old_space_size=2048"
NODE_ENV = "production"
NEXT_TELEMETRY_DISABLED = "1"
